@import url(https://fonts.googleapis.com/css?family=Open+Sans);
html {
  font-family: "Open Sans", sans-serif;
}

.border {
  border: 1px solid #ccc;
}

.border p {
  color: #fff;
}

.background {
  display: inline-block;
  text-align: center;
  width: 100%;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  background-color: #0099ff;
}

.primary-btn {
  display: inherit;
  margin: 3em;
  padding: 3em 3em;
  border-radius: 5px;
  text-decoration: none;
  text-align: center;
  color: #000;
  background: #0099ff;
}

.secondary-btn {
  display: inherit;
  margin: 3em;
  padding: 3em 3em;
  border-radius: 5px;
  text-decoration: none;
  text-align: center;
  color: #000;
  background: #ffcc66;
}

.tertiary-btn {
  display: inherit;
  margin: 3em;
  padding: 3em 3em;
  border-radius: 5px;
  text-decoration: none;
  text-align: center;
  color: #000;
  background: #b266ff;
}
