@import url(https://fonts.googleapis.com/css?family=Open+Sans);
html {
  font-family: "Open Sans", sans-serif;
}

body {
  background-color: #000;
}

.border {
  border: 5px solid #fff;
}

.background {
  display: inline-block;
  text-align: center;
  width: 100%;
}

.primary-btn {
  display: inherit;
  margin: 3em;
  padding: 3em 3em;
  border-radius: 5px;
  text-decoration: none;
  text-align: center;
  color: #fff;
  background: #0099ff;
}

.primary-btn:hover {
  background-color: #003d66;
}

.secondary-btn {
  display: inherit;
  margin: 3em;
  padding: 3em 3em;
  border-radius: 5px;
  text-decoration: none;
  text-align: center;
  color: #fff;
  background: #ffcc66;
}

.secondary-btn:hover {
  background-color: #ff9966;
}

.tertiary-btn {
  display: inherit;
  margin: 3em;
  padding: 3em 3em;
  border-radius: 5px;
  text-decoration: none;
  text-align: center;
  color: #fff;
  background: #b266ff;
}

.tertiary-btn:hover {
  background-color: #7200e6;
}

.icon-raincloud {
  color: #fff;
  font-size: 10em;
  text-decoration: none;
  text-align: center;
  display: inherit;
}

.icon-sunshine {
  color: #fff;
  font-size: 10em;
  text-decoration: none;
  text-align: center;
  display: inherit;
}

.icon-umbrella {
  color: #fff;
  font-size: 10em;
  text-decoration: none;
  text-align: center;
  display: inherit;
}
