// Colors
$light-blue: #0099ff;
$dark-blue: #003d66;
$yellow: #ffcc66;
$orange: #ff9966;
$light-purple: #b266ff;
$dark-purple: #7200e6;
$white: #fff;
$black: #000;

$primary: $light-blue;
$secondary: $yellow;
$tertiary: $light-purple;

@import url(https://fonts.googleapis.com/css?family=Open+Sans);
//Font Families
$open-sans: 'Open Sans', sans-serif;