@mixin button($bg-color){
    display: inherit;
    margin: 3em;
    padding: 3em 3em;
    border-radius: 5px;
    text-decoration: none;
    text-align: center;
    color: #fff;
    background: $bg-color;
}
