html{
    font-family: $open-sans;
}

.border{
  border: 1px solid #ccc;
    p{
      color: $white;
    }
}

.background {
    display: inline-block;
    text-align: center;
    width: 100%;
}

a{
  text-decoration: none;
  &:hover{
    text-decoration: underline;
    background-color: $light-blue;
  }
}

.primary-btn{
    @include button($light-blue);
}

.secondary-btn{
    @include button($yellow);
}

.tertiary-btn{
    @include button($light-purple);
}
