html{
    font-family: $open-sans;
}

body{
    background-color: $black;    
}

.border{
  border: 5px solid $white;
}

.background {
    display: inline-block;
    text-align: center;
    width: 100%;
}

.primary-btn{
    @include button($light-blue);
}

.primary-btn{
  &:hover{
    background-color: $dark-blue;
  }
}

.secondary-btn{
    @include button($yellow);
}

.secondary-btn{
  &:hover{
    background-color: $orange;
  }
}

.tertiary-btn{
    @include button($light-purple);
}

.tertiary-btn{
  &:hover{
    background-color: $dark-purple;
  }
}

.icon-raincloud {
    color: #fff;
    font-size: 10em;
    text-decoration: none;
    text-align: center;
    display: inherit;
    
}

.icon-sunshine {
    color: #fff; 
    font-size: 10em;
    text-decoration: none;
    text-align: center;
    display: inherit;
}

.icon-umbrella {
    color: #fff;   
    font-size: 10em;
    text-decoration: none;
    text-align: center;
    display: inherit;
}
